@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(https://example.com/material-symbols.woff) format('woff');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: Bolder;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'wght' 500;
}



button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: ease-out 200ms;
}

button:hover {
	background: none;
	color: rgb(151, 151, 151);

  font-size:30px;  /* Preferred icon size */
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:disabled,
button[disabled]{
  background: none;
	color: rgb(151, 151, 151);

  font-size:30px;  /* Preferred icon size */
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.pomo {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; 
  padding: 10px; 
  text-align: center; 
  color: white;
}
.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 70px;
  font-weight: 400;
  width: auto;
  margin: 0;
}


