body {
  margin: 0;
  font-family: 'Roboto', Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./components/anime-eye-nord.png');
  background-size: cover; /* or other values like 'contain' */
  background-position: center; /* or other values like 'top left', 'bottom right', etc. */
  background-repeat: no-repeat; /* or other values like 'repeat', 'repeat-x', 'repeat-y' */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
